:root {
  --red-alert: #FF0000;
  --red-alert-background: #FFF0F0;
}

.alert-msg {
  width: 100%;
  padding: 2px;
  color: var(--red-alert);
  border: none;
  outline: 0;
  background-color: var(--red-alert-background);
}
